<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static '/home_page/css/style.css' %}" />
    <title>Document</title>
  </head>
  <body> 
    {% include 'usefull/nav-bar.html' %}
    <h1>welcome in firsty projec {{number|add:" not found" }}</h1>
    {% include 'usefull/footer.html' %}
  </body>
</html>
